GNL-with-crawl.json
[
  {
    "updatedAt": "2026-04-27T09:10:14.278Z",
    "createdAt": "2025-12-29T23:19:21.737Z",
    "id": "jQ9zKZRa4JbOgEdG",
    "name": "GNL",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "command": "python /home/nizar/workspace/gnl-process/nllm-aws-asl-clean-gnls.py"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          5104,
          1184
        ],
        "id": "e9093448-1d26-4388-ab33-fd867d2c362d",
        "name": "Clean All podcasts",
        "executeOnce": true,
        "retryOnFail": true
      },
      {
        "parameters": {
          "command": "=python /home/nizar/workspace/gnl-process/get_title.py {{ $json.src }} {{ $('MainForm').item.json.Type }} {{ $('MainForm').item.json.Subfolder }}"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          5456,
          2080
        ],
        "id": "fdb68fa3-b86a-4674-b9b7-332292e548eb",
        "name": "Generate title",
        "executeOnce": true,
        "retryOnFail": true
      },
      {
        "parameters": {
          "command": "kill -9 $(ps aux | grep \"/opt/google/chrome\" | grep -v grep | awk '{print $2}')\npkill -f \"Clone-Chrome-profile\"\nrm -f \"/home/nizar/Clone-Chrome-profile/User Data/SingletonLock\""
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          4240,
          1168
        ],
        "id": "8550b829-c85a-4640-9d85-e6484fd56619",
        "name": "remove the lock on chrome",
        "executeOnce": true,
        "retryOnFail": true
      },
      {
        "parameters": {
          "command": "python  /home/nizar/workspace/gnl-process/setup_chrome_user_data_dir.py"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          4672,
          1184
        ],
        "id": "e945176a-be31-45a1-92b0-5e13e1958f1d",
        "name": "configure chrome profile",
        "executeOnce": true,
        "retryOnFail": true
      },
      {
        "parameters": {
          "formFields": {
            "values": [
              {
                "fieldName": "sourceIdentifier",
                "fieldLabel": "sourceIdentifier",
                "fieldType": "file"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 2.4,
        "position": [
          4768,
          2128
        ],
        "id": "a81520a6-9365-4d74-b98d-05bcca64247f",
        "name": "GoogleDrive",
        "webhookId": "567c93c4-bd2c-41bc-882b-f141ec9b4055"
      },
      {
        "parameters": {
          "formTitle": "GNL Input Form",
          "formDescription": "Select type and provide input",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Type",
                "fieldType": "dropdown",
                "defaultValue": "WebAndYoutube",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "WebAndYoutube"
                    },
                    {
                      "option": "GoogleDrive"
                    },
                    {
                      "option": "LocalStorage"
                    }
                  ]
                },
                "requiredField": true
              },
              {
                "fieldLabel": "THEME",
                "fieldType": "dropdown",
                "defaultValue": "AWS",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "AWS"
                    },
                    {
                      "option": "AIP"
                    },
                    {
                      "option": "MISC"
                    }
                  ]
                },
                "requiredField": true
              },
              {
                "fieldLabel": "Generation Mode",
                "fieldType": "dropdown",
                "defaultValue": "Bulk",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "Single"
                    },
                    {
                      "option": "Bulk"
                    }
                  ]
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.2,
        "position": [
          3872,
          2128
        ],
        "id": "4b3ca35f-928d-47ce-91ed-7ee6fd96348b",
        "name": "MainForm",
        "webhookId": "e8ce0cf2-1f71-4e37-8a6f-5a891a46df8f",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('MainForm').item.json.Type }}",
                      "rightValue": "WebAndYoutube",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "48808c76-e7e5-406a-ab49-fcc4a0d840e3"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "fcd1c228-50c8-45ce-a7c7-470f121a86c2",
                      "leftValue": "={{ $('MainForm').item.json.Type }}",
                      "rightValue": "GoogleDrive",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "40e6cbe1-ee28-4f49-a162-1cd0e137bb91",
                      "leftValue": "={{ $('MainForm').item.json.Type }}",
                      "rightValue": "LocalStorage",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          4544,
          2112
        ],
        "id": "e1cbf000-7dd5-4dbd-85cc-48d27483e73e",
        "name": "Switch"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "39eed507-6cca-4d32-9c95-efa1a1e62229",
                "name": "src",
                "value": "={{ \n  $('MainForm').first().json.Type === 'WebAndYoutube' \n    ? $('WebAndYoutube').first().json.sourceIdentifier \n    : $('MainForm').first().json.Type === 'LocalStorage'\n      ? $('LocalStorage').item.json.sourceIdentifier[0].filename\n      : $('MainForm').first().json.Type === 'GoogleDrive'\n        ? $('GoogleDrive').item.json.sourceIdentifier[0].filename\n        : null\n}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          5264,
          2096
        ],
        "id": "7dbcb78e-8299-49b0-a742-1d1dfd3928c1",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "formFields": {
            "values": [
              {
                "fieldName": "sourceIdentifier",
                "fieldLabel": "sourceIdentifier",
                "requiredField": true
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 2.4,
        "position": [
          4768,
          1936
        ],
        "id": "18142700-720e-43f8-9f1d-ee2e06f7c260",
        "name": "WebAndYoutube",
        "webhookId": "946e504d-82b9-4249-95af-117a6578b12b"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "9aeb8066-ec93-4ed8-921c-656715fd8763",
                "leftValue": "={{ $('MainForm').item.json['Generation Mode'] }}",
                "rightValue": "Single",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          4992,
          2128
        ],
        "id": "5bf81357-3e39-4172-9bea-f4c04aa407a2",
        "name": "If"
      },
      {
        "parameters": {
          "command": "=/home/nizar/workspace/gnl-process/collect_and_save.sh '{{ $json.stdout }}'"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          5696,
          2384
        ],
        "id": "fd9d69db-2486-4dd9-9b5f-52efc9a904d8",
        "name": "CollectAndSave",
        "executeOnce": true,
        "retryOnFail": true
      },
      {
        "parameters": {
          "command": "sudo mount -t drvfs G: /mnt/g\n\n"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          4096,
          2128
        ],
        "id": "2240a019-ec3b-478b-8a73-b9ac678c6ccc",
        "name": "mount g-drive",
        "executeOnce": true,
        "retryOnFail": true
      },
      {
        "parameters": {
          "command": "=python /home/nizar/workspace/gnl-process/process_all_records_for_generation.py {{ $('MainForm').item.json.Type }} {{ $('MainForm').item.json['Generation Mode'] }} {{ $('MainForm').item.json.THEME }} {{ $('Code in JavaScript').item.json.podcast_subtheme }}"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          6192,
          2336
        ],
        "id": "11f529e7-a739-4315-b0d9-b42e82a918ec",
        "name": "Generate Bulk Podcasts",
        "executeOnce": true,
        "retryOnFail": true
      },
      {
        "parameters": {
          "command": "=python /home/nizar/workspace/gnl-process/get_title_v2.py {{ $('MainForm').item.json.Type }} {{ $('MainForm').item.json['Generation Mode'] }} {{ $('MainForm').item.json.THEME }} {{ $('Code in JavaScript').item.json.podcast_subtheme }}"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          5952,
          2320
        ],
        "id": "2699be5e-0997-4551-adaf-05495ed978cd",
        "name": "Generate bulk titles",
        "executeOnce": true,
        "retryOnFail": true
      },
      {
        "parameters": {
          "command": "=python /home/nizar/workspace/gnl-process/process_all_records_for_download.py {{ $('MainForm').item.json.Type }} {{ $('MainForm').item.json['Generation Mode'] }} {{ $('MainForm').item.json.THEME }} {{ $('Code in JavaScript').item.json.podcast_subtheme }}"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          6432,
          2176
        ],
        "id": "84d68602-0a17-443f-aed2-a58cf6fa0bec",
        "name": "download Bulk Podcasts",
        "executeOnce": true,
        "retryOnFail": true
      },
      {
        "parameters": {
          "command": "=python /home/nizar/workspace/gnl-process/process_all_records_for_conversion.py {{ $('MainForm').item.json.Type }} {{ $('MainForm').item.json['Generation Mode'] }} {{ $('MainForm').item.json.THEME }} {{ $('Code in JavaScript').item.json.podcast_subtheme }} "
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          6656,
          2048
        ],
        "id": "fbc38c42-5bb2-4ecb-ae8a-c02ed28d62ad",
        "name": "convert Bulk Podcasts",
        "executeOnce": true,
        "retryOnFail": true
      },
      {
        "parameters": {
          "command": "=python /home/nizar/workspace/gnl-process/split_pdf.py {{ $json.absolute_path }} {{ $('LocalStorage1').item.json.pages_per_split }} {{ $json.parent_file }} {{ $('LocalStorage1').item.json['Split Mode'] }} {{ $('LocalStorage1').item.json.questions_per_split }} {{ $('MainForm').item.json.Type }} {{ $('MainForm').item.json.THEME }} {{ $json.podcast_subtheme }}"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          5456,
          2432
        ],
        "id": "b32ce07f-5c7b-454e-9bd4-903ee8fab1d9",
        "name": "split pdf",
        "executeOnce": true,
        "retryOnFail": true
      },
      {
        "parameters": {
          "formFields": {
            "values": [
              {
                "fieldName": "sourceIdentifier",
                "fieldLabel": "sourceIdentifier",
                "fieldType": "file"
              },
              {
                "fieldName": "Split Mode",
                "fieldLabel": "Split Mode",
                "fieldType": "dropdown",
                "defaultValue": "Pages",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "Pages"
                    },
                    {
                      "option": "Questions"
                    }
                  ]
                }
              },
              {
                "fieldName": "pages_per_split",
                "fieldLabel": "pages_per_split",
                "fieldType": "number",
                "defaultValue": "20",
                "requiredField": true
              },
              {
                "fieldName": "questions_per_split",
                "fieldLabel": "questions_per_split",
                "fieldType": "dropdown",
                "defaultValue": "4",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "4"
                    },
                    {
                      "option": "8"
                    }
                  ]
                },
                "requiredField": true
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 2.4,
        "position": [
          4768,
          2320
        ],
        "id": "5fce30ed-a164-4247-a0db-dbe0238f19e4",
        "name": "LocalStorage1",
        "webhookId": "567c93c4-bd2c-41bc-882b-f141ec9b4055"
      },
      {
        "parameters": {
          "command": "=/home/nizar/workspace/gnl-process/find_local_main_source.zsh \"{{ $json.sourceIdentifier[0].filename }}\""
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          4992,
          2320
        ],
        "id": "800d5c46-11f9-4752-a6cd-7252e4861887",
        "name": "find_local_main_source",
        "executeOnce": true,
        "retryOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const output = $input.first().json.stdout;\nconst parsed = JSON.parse(output);\n\n// Get filename without extension\nconst fileName = parsed.file_name;\nconst name = fileName.substring(0, fileName.lastIndexOf('.')) || fileName;\n\nreturn {\n  json: {\n    absolute_path: parsed.absolute_path,\n    parent_file: name,\n    podcast_subtheme: parsed.parent_folder\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5216,
          2320
        ],
        "id": "a425f92d-6c35-44c6-adc0-3255f51eaf75",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "command": "=python /home/nizar/workspace/gnl-process/combine_mp3_v2.py {{ $('MainForm').item.json.Type }} {{ $('MainForm').item.json['Generation Mode'] }} {{ $('MainForm').item.json.THEME }} {{ $('Code in JavaScript').item.json.podcast_subtheme }} {{ $('Code in JavaScript').item.json.parent_file }}"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          6848,
          2320
        ],
        "id": "b9ec54ec-28ca-4489-947f-134dd41c5a24",
        "name": "combine Bulk Podcasts",
        "executeOnce": true,
        "retryOnFail": true
      },
      {
        "parameters": {
          "command": "=python /home/nizar/workspace/gnl-process/xxx.py "
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          4544,
          2736
        ],
        "id": "1e85f417-7033-4b0e-8655-cb5bc86c7c93",
        "name": "highlight_correct_options",
        "executeOnce": true,
        "retryOnFail": true
      },
      {
        "parameters": {
          "command": "=python /home/nizar/workspace/gnl-process/xxx.py "
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          5216,
          2656
        ],
        "id": "783131c3-3f61-41be-86b7-4523af5e22ea",
        "name": "generate_ankycards",
        "executeOnce": true,
        "retryOnFail": true
      },
      {
        "parameters": {
          "command": "=python /home/nizar/workspace/gnl-process/xxx.py "
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          4064,
          2656
        ],
        "id": "b1369d79-3892-4297-ac25-83091579e009",
        "name": "formatPdfFromUdemy",
        "executeOnce": true,
        "retryOnFail": true
      },
      {
        "parameters": {
          "command": "=python /home/nizar/workspace/gnl-process/xxx.py "
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          4848,
          2736
        ],
        "id": "928c6ca4-50f5-4012-8ed5-f30c2d366cca",
        "name": "GenerateCompactExamVersion",
        "executeOnce": true,
        "retryOnFail": true
      },
      {
        "parameters": {
          "command": "=python /home/nizar/workspace/gnl-process/xxx.py "
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          5216,
          2832
        ],
        "id": "22e5375a-88a7-4ab3-b0c7-977d0a3c3c94",
        "name": "extract_keywords",
        "executeOnce": true,
        "retryOnFail": true
      },
      {
        "parameters": {
          "command": "=python /home/nizar/workspace/gnl-process/xxx.py "
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          4560,
          2544
        ],
        "id": "02334f54-feae-4fe5-9a7e-a5bca6934aa9",
        "name": "you can start the worflow of gnl",
        "executeOnce": true,
        "retryOnFail": true
      },
      {
        "parameters": {
          "command": "=python /home/nizar/workspace/gnl-process/xxx.py "
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          5504,
          1200
        ],
        "id": "c0cadeef-818f-41fb-8362-57c1b6546a00",
        "name": "combine_mp3_simple",
        "executeOnce": true,
        "retryOnFail": true
      },
      {
        "parameters": {
          "formFields": {
            "values": [
              {
                "fieldName": "url",
                "fieldLabel": "URL to crawl",
                "requiredField": true
              },
              {
                "fieldName": "subtheme",
                "fieldLabel": "Subtheme (e.g. solutions, exam)",
                "requiredField": true
              },
              {
                "fieldName": "filter",
                "fieldLabel": "URL filter (optional, e.g. .pdf)",
                "requiredField": false
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 2.4,
        "position": [
          4992,
          1936
        ],
        "id": "crawl-form-001",
        "name": "CrawlForm",
        "webhookId": "crawl-form-webhook-001"
      },
      {
        "parameters": {
          "command": "=python /home/nizar/workspace/gnl-process/crawl_links.py crawl \"{{ $('CrawlForm').item.json.url }}\" {{ $('MainForm').item.json.THEME }} {{ $('CrawlForm').item.json.subtheme }}{{ $('CrawlForm').item.json.filter ? ' --filter \"' + $('CrawlForm').item.json.filter + '\"' : '' }}"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          5264,
          1936
        ],
        "id": "crawl-cmd-001",
        "name": "Crawl Links",
        "executeOnce": true,
        "retryOnFail": true
      },
      {
        "parameters": {
          "command": "=python /home/nizar/workspace/gnl-process/inject_crawled_links.py {{ $('MainForm').item.json.THEME }} {{ $('CrawlForm').item.json.subtheme }}"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          5504,
          1936
        ],
        "id": "inject-cmd-001",
        "name": "Inject Crawled Links",
        "executeOnce": true,
        "retryOnFail": true
      },
      {
        "parameters": {
          "command": "=python /home/nizar/workspace/gnl-process/get_title_v2.py WebAndYoutube Bulk {{ $('MainForm').item.json.THEME }} {{ $('CrawlForm').item.json.subtheme }}"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          5744,
          1936
        ],
        "id": "crawl-titles-001",
        "name": "Generate Crawl Titles",
        "executeOnce": true,
        "retryOnFail": true
      },
      {
        "parameters": {
          "command": "=python /home/nizar/workspace/gnl-process/process_all_records_for_generation.py WebAndYoutube Bulk {{ $('MainForm').item.json.THEME }} {{ $('CrawlForm').item.json.subtheme }}"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          5984,
          1936
        ],
        "id": "crawl-generate-001",
        "name": "Generate Crawl Podcasts",
        "executeOnce": true,
        "retryOnFail": true
      },
      {
        "parameters": {
          "command": "=python /home/nizar/workspace/gnl-process/process_all_records_for_download.py WebAndYoutube Bulk {{ $('MainForm').item.json.THEME }} {{ $('CrawlForm').item.json.subtheme }}"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          6224,
          1936
        ],
        "id": "crawl-download-001",
        "name": "Download Crawl Podcasts",
        "executeOnce": true,
        "retryOnFail": true
      },
      {
        "parameters": {
          "command": "=python /home/nizar/workspace/gnl-process/process_all_records_for_conversion.py WebAndYoutube Bulk {{ $('MainForm').item.json.THEME }} {{ $('CrawlForm').item.json.subtheme }}"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          6464,
          1936
        ],
        "id": "crawl-convert-001",
        "name": "Convert Crawl Podcasts",
        "executeOnce": true,
        "retryOnFail": true
      }
    ],
    "connections": {
      "Generate title": {
        "main": [
          []
        ]
      },
      "remove the lock on chrome": {
        "main": [
          []
        ]
      },
      "MainForm": {
        "main": [
          [
            {
              "node": "mount g-drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "WebAndYoutube",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "GoogleDrive",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "LocalStorage1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GoogleDrive": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Generate title",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "WebAndYoutube": {
        "main": [
          [
            {
              "node": "CrawlForm",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "mount g-drive": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CollectAndSave": {
        "main": [
          [
            {
              "node": "Generate bulk titles",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate bulk titles": {
        "main": [
          []
        ]
      },
      "Generate Bulk Podcasts": {
        "main": [
          [
            {
              "node": "download Bulk Podcasts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "download Bulk Podcasts": {
        "main": [
          [
            {
              "node": "convert Bulk Podcasts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "convert Bulk Podcasts": {
        "main": [
          [
            {
              "node": "combine Bulk Podcasts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LocalStorage1": {
        "main": [
          [
            {
              "node": "find_local_main_source",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "find_local_main_source": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "split pdf",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "split pdf": {
        "main": [
          [
            {
              "node": "CollectAndSave",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "formatPdfFromUdemy": {
        "main": [
          [
            {
              "node": "highlight_correct_options",
              "type": "main",
              "index": 0
            },
            {
              "node": "you can start the worflow of gnl",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "highlight_correct_options": {
        "main": [
          [
            {
              "node": "GenerateCompactExamVersion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GenerateCompactExamVersion": {
        "main": [
          [
            {
              "node": "generate_ankycards",
              "type": "main",
              "index": 0
            },
            {
              "node": "extract_keywords",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CrawlForm": {
        "main": [
          [
            {
              "node": "Crawl Links",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Crawl Links": {
        "main": [
          [
            {
              "node": "Inject Crawled Links",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Inject Crawled Links": {
        "main": [
          [
            {
              "node": "Generate Crawl Titles",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Crawl Titles": {
        "main": [
          [
            {
              "node": "Generate Crawl Podcasts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Crawl Podcasts": {
        "main": [
          [
            {
              "node": "Download Crawl Podcasts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Crawl Podcasts": {
        "main": [
          [
            {
              "node": "Convert Crawl Podcasts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert Crawl Podcasts": {
        "main": [
          []
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "68b257e0-e5e7-4897-8b2a-8ebabd092a22",
    "activeVersionId": "c702c6df-9ae7-49bb-837c-a235aff69c63",
    "versionCounter": 243,
    "triggerCount": 1,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2025-12-29T23:19:21.751Z",
        "createdAt": "2025-12-29T23:19:21.751Z",
        "role": "workflow:owner",
        "workflowId": "jQ9zKZRa4JbOgEdG",
        "projectId": "IUZUphTJqrq5q49O",
        "project": {
          "updatedAt": "2025-09-09T15:35:22.453Z",
          "createdAt": "2025-09-09T15:33:11.832Z",
          "id": "IUZUphTJqrq5q49O",
          "name": "Nizar Ajroud <nizar.ajroud@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "965c6769-4478-4dd7-b3d9-477397cdc9e1"
        }
      }
    ]
  }
]