GNL.json
{
  "updatedAt": "2026-05-03T10:17:12.877Z",
  "createdAt": "2026-04-27T09:45:26.612Z",
  "id": "Jp4HFw5LYwnktOR2jvr0U",
  "name": "GNL",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "command": "python /home/nizar/workspace/gnl-process/nllm-aws-asl-clean-gnls.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        9920,
        2528
      ],
      "id": "ddbe66d2-3b70-44df-b326-3da2167abd02",
      "name": "Clean All podcasts",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "command": "kill -9 $(ps aux | grep \"/opt/google/chrome\" | grep -v grep | awk '{print $2}')\npkill -f \"Clone-Chrome-profile\"\nrm -f \"/home/nizar/Clone-Chrome-profile/User Data/SingletonLock\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        9344,
        2528
      ],
      "id": "e15c99f4-7406-4b87-935c-6b5336135622",
      "name": "remove the lock on chrome",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "command": "python  /home/nizar/workspace/gnl-process/setup_chrome_user_data_dir.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        9648,
        2528
      ],
      "id": "a39e03c1-12d5-43df-b70a-b63538229612",
      "name": "configure chrome profile",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "formTitle": "GNL Input Form",
        "formDescription": "Select type and provide input",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Phase",
              "fieldType": "dropdown",
              "defaultValue": "Subscribe",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Subscribe"
                  },
                  {
                    "option": "Process & Deliver"
                  },
                  {
                    "option": "All Phases"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Type",
              "fieldType": "dropdown",
              "defaultValue": "LocalStorage",
              "fieldOptions": {
                "values": [
                  {
                    "option": "WebAndYoutube"
                  },
                  {
                    "option": "LocalStorage"
                  },
                  {
                    "option": "What's New Report"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "THEME",
              "fieldType": "dropdown",
              "defaultValue": "AWS",
              "fieldOptions": {
                "values": [
                  {
                    "option": "AWS"
                  },
                  {
                    "option": "MISC"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Generation Mode",
              "fieldType": "dropdown",
              "defaultValue": "Bulk",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Single"
                  },
                  {
                    "option": "Bulk"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        9024,
        3056
      ],
      "id": "2ff9b58a-2cb4-4f69-a7f0-8f3e5277a50b",
      "name": "MainForm",
      "webhookId": "a42b67fa-3d7e-4824-9fe1-ef6c189e6e6d",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "id": "phase-all",
                    "leftValue": "={{ $('MainForm').item.json.Phase }}",
                    "rightValue": "All Phases",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "All Phases"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "id": "phase-pd",
                    "leftValue": "={{ $('MainForm').item.json.Phase }}",
                    "rightValue": "Process & Deliver",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "Process & Deliver"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "id": "phase-subscribe",
                    "leftValue": "={{ $('MainForm').item.json.Phase }}",
                    "rightValue": "Subscribe",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "Subscribe"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        9296,
        3008
      ],
      "id": "21e7c195-0c47-436f-8547-515c927eac14",
      "name": "Switch"
    },
    {
      "parameters": {
        "command": "=/home/nizar/workspace/gnl-process/collect_and_save.sh '{{ $json.stdout }}'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        10256,
        3056
      ],
      "id": "f871b61c-1aec-418d-9c52-9e5d7badc0c2",
      "name": "CollectAndSave",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "command": "sudo mount -t drvfs G: /mnt/g\n\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        9184,
        3056
      ],
      "id": "868eef14-5620-480d-960a-cfec4bdea750",
      "name": "mount g-drive",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "command": "=python /home/nizar/workspace/gnl-process/process_all_records_for_generation.py --parent_id=\"{{ $(\"Extract Parent ID\").item.json.parentId }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        11568,
        2816
      ],
      "id": "0c63741e-1f87-4972-96e5-d51878ffdbda",
      "name": "Generate Bulk Podcasts",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "command": "=python /home/nizar/workspace/gnl-process/get_title_v2.py \"{{ $('MainForm').item.json.Type }}\" \"{{ $('MainForm').item.json['Generation Mode'] }}\" \"{{ $('MainForm').item.json.THEME }}\" \"{{ $('Code in JavaScript').item.json.podcast_subtheme }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        10448,
        3056
      ],
      "id": "b9efedb6-3236-438a-8f7a-5a192ffe70d9",
      "name": "Generate bulk titles",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "command": "=python /home/nizar/workspace/gnl-process/process_all_records_for_download.py --parent_id=\"{{ $(\"Extract Parent ID\").item.json.parentId }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        11488,
        3184
      ],
      "id": "03323c96-8825-42fb-84d5-b15f3927c8a7",
      "name": "download Bulk Podcasts",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "command": "=python /home/nizar/workspace/gnl-process/process_all_records_for_conversion.py --parent_id=\"{{ $(\"Extract Parent ID\").item.json.parentId }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        11824,
        3312
      ],
      "id": "5449fa4e-0dad-41aa-a695-b5a4c4ce7b7d",
      "name": "convert Bulk Podcasts",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "command": "=python /home/nizar/workspace/gnl-process/split_pdf.py \"{{ $json.absolute_path }}\" \"{{ $(\"LocalStorage1\").item.json.pages_per_split }}\" \"{{ $json.parent_file }}\" \"{{ $(\"LocalStorage1\").item.json[\"Split Mode\"] }}\" \"{{ $(\"LocalStorage1\").item.json.questions_per_split }}\" \"{{ $(\"MainForm\").item.json.Type }}\" \"{{ $(\"MainForm\").item.json.THEME }}\" \"{{ $json.podcast_subtheme }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        10096,
        3104
      ],
      "id": "6b87f46c-0a56-489f-93af-7e40981fc433",
      "name": "split pdf",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldName": "sourceIdentifier",
              "fieldLabel": "sourceIdentifier",
              "fieldType": "file"
            },
            {
              "fieldName": "Split Mode",
              "fieldLabel": "Split Mode",
              "fieldType": "dropdown",
              "defaultValue": "Pages",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Pages"
                  },
                  {
                    "option": "Questions"
                  }
                ]
              }
            },
            {
              "fieldName": "pages_per_split",
              "fieldLabel": "pages_per_split",
              "fieldType": "number",
              "defaultValue": "2",
              "requiredField": true
            },
            {
              "fieldName": "questions_per_split",
              "fieldLabel": "questions_per_split",
              "fieldType": "dropdown",
              "defaultValue": "4",
              "fieldOptions": {
                "values": [
                  {
                    "option": "4"
                  },
                  {
                    "option": "8"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [
        9568,
        3104
      ],
      "id": "87458a24-9376-4573-a690-31a79a040d31",
      "name": "LocalStorage1",
      "webhookId": "567c93c4-bd2c-41bc-882b-f141ec9b4055"
    },
    {
      "parameters": {
        "command": "=/home/nizar/workspace/gnl-process/find_local_main_source.zsh \"{{ $json.sourceIdentifier[0].filename }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        9728,
        3120
      ],
      "id": "b6380021-035e-48e9-b44e-7b610981bdb0",
      "name": "find_local_main_source",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.stdout;\nconst parsed = JSON.parse(output);\n\n// Get filename without extension\nconst fileName = parsed.file_name;\nconst name = fileName.substring(0, fileName.lastIndexOf('.')) || fileName;\n\nreturn {\n  json: {\n    absolute_path: parsed.absolute_path,\n    parent_file: name,\n    podcast_subtheme: parsed.parent_folder\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9920,
        3120
      ],
      "id": "d8c6a1d2-b49c-4077-b9ea-57d3c754a800",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "command": "=python /home/nizar/workspace/gnl-process/combine_mp3_v2.py --parent_id=\"{{ $(\"Extract Parent ID\").item.json.parentId }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        12032,
        3312
      ],
      "id": "b2548e54-49ea-4a35-bb8d-22d7904a799f",
      "name": "combine Bulk Podcasts",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "command": "=python /home/nizar/workspace/gnl-process/xxx.py "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        9504,
        3840
      ],
      "id": "e4dd399f-6363-44b8-8257-fbab45abd0be",
      "name": "highlight_correct_options",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "command": "=python /home/nizar/workspace/gnl-process/xxx.py "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        10176,
        3760
      ],
      "id": "8409fa9c-c650-4c8c-a7e8-78b4957f236e",
      "name": "generate_ankycards",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "command": "=python /home/nizar/workspace/gnl-process/xxx.py "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        9024,
        3760
      ],
      "id": "edc5e5d3-3a15-4a52-b513-a8554dd65b53",
      "name": "formatPdfFromUdemy",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "command": "=python /home/nizar/workspace/gnl-process/xxx.py "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        9808,
        3840
      ],
      "id": "0a4fc946-5a89-4c4b-b7da-9476f339b97d",
      "name": "GenerateCompactExamVersion",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "command": "=python /home/nizar/workspace/gnl-process/xxx.py "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        10176,
        3936
      ],
      "id": "73784171-0b41-445f-9df3-e1901e00c34c",
      "name": "extract_keywords",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "command": "=python /home/nizar/workspace/gnl-process/xxx.py "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        9520,
        3648
      ],
      "id": "38358869-1110-4453-af1f-6468555dc881",
      "name": "you can start the worflow of gnl",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "command": "=python /home/nizar/workspace/gnl-process/xxx.py "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        10208,
        2544
      ],
      "id": "415e6a64-77d2-4280-a386-84093addf2fd",
      "name": "combine_mp3_simple",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "formTitle": "What's New Report",
        "formDescription": "Generate a What's New report for a given month",
        "formFields": {
          "values": [
            {
              "fieldName": "month",
              "fieldLabel": "Mois",
              "fieldType": "dropdown",
              "defaultValue": "04",
              "fieldOptions": {
                "values": [
                  {
                    "option": "01 - Janvier"
                  },
                  {
                    "option": "02 - F\u00e9vrier"
                  },
                  {
                    "option": "03 - Mars"
                  },
                  {
                    "option": "04 - Avril"
                  },
                  {
                    "option": "05 - Mai"
                  },
                  {
                    "option": "06 - Juin"
                  },
                  {
                    "option": "07 - Juillet"
                  },
                  {
                    "option": "08 - Ao\u00fbt"
                  },
                  {
                    "option": "09 - Septembre"
                  },
                  {
                    "option": "10 - Octobre"
                  },
                  {
                    "option": "11 - Novembre"
                  },
                  {
                    "option": "12 - D\u00e9cembre"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldName": "subtheme",
              "fieldLabel": "Subtheme",
              "fieldType": "dropdown",
              "defaultValue": "aws-whats-new",
              "fieldOptions": {
                "values": [
                  {
                    "option": "aws-whats-new"
                  },
                  {
                    "option": "aws-solutions-lib"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        9024,
        2848
      ],
      "id": "18c485d2-f23e-4a31-831f-3cce924cb89d",
      "name": "What's New Form",
      "webhookId": "aggregate-form-wh"
    },
    {
      "parameters": {
        "command": "=python /home/nizar/workspace/gnl-process/whats_new_report.py \"{{ $(\"What's New Form\").item.json.month.substring(0,2) }}\" \"{{ $('MainForm').item.json.THEME }}\" \"{{ $(\"What's New Form\").item.json.subtheme }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        9328,
        2848
      ],
      "id": "e21633fc-4db5-46a1-9651-7ef010c74764",
      "name": "Generate What's New Report",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "command": "=python /home/nizar/workspace/gnl-process/validate_states.py --parent_id=\"{{ $(\"Extract Parent ID\").item.json.parentId }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        11408,
        3312
      ],
      "id": "validate-states-001",
      "name": "Validate States"
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        11600,
        3312
      ],
      "id": "wait-approval-001",
      "name": "Wait for Approval",
      "webhookId": "state-validation-approval"
    },
    {
      "parameters": {
        "command": "=python /home/nizar/workspace/gnl-process/list_parents.py process"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        10960,
        2560
      ],
      "id": "list-parents-process",
      "name": "List Parents (Process)"
    },
    {
      "parameters": {
        "command": "=python /home/nizar/workspace/gnl-process/list_parents.py deliver"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        10752,
        3408
      ],
      "id": "list-parents-deliver",
      "name": "List Parents (Deliver)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "phase-check",
              "leftValue": "={{ $('MainForm').item.json.Phase }}",
              "rightValue": "Subscribe",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        11152,
        2896
      ],
      "id": "check-phase-continue",
      "name": "Continue to Deliver"
    },
    {
      "parameters": {
        "path": "gnl-stop",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        12112,
        4576
      ],
      "id": "emergency-stop-trigger",
      "name": "Emergency Stop",
      "webhookId": "gnl-emergency-stop"
    },
    {
      "parameters": {
        "command": "touch /tmp/gnl-stop; pkill -9 -f 'process_all_records' 2>/dev/null; pkill -9 -f 'nllm-aws-asl' 2>/dev/null; pkill -9 -f 'nova_act' 2>/dev/null; pkill -9 -f 'setup_chrome_user_data_dir' 2>/dev/null; pkill -9 -f 'Clone-Chrome-profile' 2>/dev/null; rm -f '/home/nizar/Clone-Chrome-profile/User Data/SingletonLock' 2>/dev/null; echo 'All processes stopped'; exit 0"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        12368,
        4576
      ],
      "id": "stop-all-processes",
      "name": "Stop All Processes",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "path": "gnl-clean-db",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        11584,
        5072
      ],
      "id": "clean-db-trigger",
      "name": "Clean Database",
      "webhookId": "4886114c-5ca0-486e-903c-e53d61cdaf3a"
    },
    {
      "parameters": {
        "command": "python /home/nizar/workspace/gnl-process/delete_all_records.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        11840,
        5072
      ],
      "id": "clean-db-command",
      "name": "Delete All Records"
    },
    {
      "parameters": {
        "formTitle": "Process - Generate & Download",
        "formDescription": "Select a parent configuration to process",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Parent ID",
              "fieldType": "number",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        10800,
        2576
      ],
      "id": "process-form-trigger",
      "name": "Process Form",
      "webhookId": "7885c519-f210-44cb-80f4-85ae8a5a92dc"
    },
    {
      "parameters": {
        "formTitle": "Deliver - Convert & Combine",
        "formDescription": "Select a parent configuration to deliver",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Parent ID",
              "fieldType": "number",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        10848,
        3232
      ],
      "id": "deliver-form-trigger",
      "name": "Deliver Form",
      "webhookId": "a736d4fe-f5fc-4c73-8ad1-09d8f521b753"
    },
    {
      "parameters": {
        "jsCode": "\nconst { execSync } = require('child_process');\nconst phase = $('MainForm').item.json.Phase;\n\n// Only fetch parents for Process & Deliver\nif (phase === 'Process & Deliver') {\n    const output = execSync('python /home/nizar/workspace/gnl-process/list_parents.py process').toString();\n    const parents = JSON.parse(output);\n    const options = parents.map(p => p.id + ' - ' + p.label);\n    return [{ json: { parentOptions: options, phase: phase } }];\n} else {\n    return [{ json: { parentOptions: [], phase: phase } }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        3400
      ],
      "id": "fetch-parents-code",
      "name": "Fetch Parents"
    },
    {
      "parameters": {
        "formTitle": "Select Parent Configuration",
        "formDescription": "Choose which configuration to process",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Parent",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": "={{ $json.parentOptions.map(o => ({option: o})) }}"
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        800,
        3400
      ],
      "id": "parent-select-form",
      "name": "Select Parent"
    },
    {
      "parameters": {
        "jsCode": "\nconst selection = $('Select Parent').item.json.Parent;\nconst parentId = parseInt(selection.split(' - ')[0]);\nreturn [{ json: { parentId: parentId } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        3400
      ],
      "id": "extract-parent-id",
      "name": "Extract Parent ID"
    }
  ],
  "connections": {
    "MainForm": {
      "main": [
        [
          {
            "node": "mount g-drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "LocalStorage1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Parents",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LocalStorage1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mount g-drive": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CollectAndSave": {
      "main": [
        [
          {
            "node": "Generate bulk titles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Bulk Podcasts": {
      "main": [
        [
          {
            "node": "download Bulk Podcasts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download Bulk Podcasts": {
      "main": [
        [
          {
            "node": "Validate States",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert Bulk Podcasts": {
      "main": [
        [
          {
            "node": "combine Bulk Podcasts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LocalStorage1": {
      "main": [
        [
          {
            "node": "find_local_main_source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "find_local_main_source": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "split pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split pdf": {
      "main": [
        [
          {
            "node": "CollectAndSave",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatPdfFromUdemy": {
      "main": [
        [
          {
            "node": "highlight_correct_options",
            "type": "main",
            "index": 0
          },
          {
            "node": "you can start the worflow of gnl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "highlight_correct_options": {
      "main": [
        [
          {
            "node": "GenerateCompactExamVersion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GenerateCompactExamVersion": {
      "main": [
        [
          {
            "node": "generate_ankycards",
            "type": "main",
            "index": 0
          },
          {
            "node": "extract_keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate bulk titles": {
      "main": [
        [
          {
            "node": "Continue to Deliver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "What's New Form": {
      "main": [
        [
          {
            "node": "Generate What's New Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate States": {
      "main": [
        [
          {
            "node": "Wait for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Approval": {
      "main": [
        [
          {
            "node": "convert Bulk Podcasts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue if not Subscribe": {
      "main": [
        [
          {
            "node": "Generate Bulk Podcasts",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Emergency Stop": {
      "main": [
        [
          {
            "node": "Stop All Processes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Database": {
      "main": [
        [
          {
            "node": "Delete All Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Parents (Process)": {
      "main": [
        [
          {
            "node": "Generate Bulk Podcasts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Parents (Deliver)": {
      "main": [
        [
          {
            "node": "Validate States",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Form": {
      "main": [
        [
          {
            "node": "List Parents (Process)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deliver Form": {
      "main": [
        [
          {
            "node": "download Bulk Podcasts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue to Deliver": {
      "main": [
        [
          {
            "node": "Generate Bulk Podcasts",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Fetch Parents": {
      "main": [
        [
          {
            "node": "Select Parent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Parent": {
      "main": [
        [
          {
            "node": "Extract Parent ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Parent ID": {
      "main": [
        [
          {
            "node": "Generate Bulk Podcasts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "c73a1939-0a14-49eb-bf42-f9ca0496322e",
  "activeVersionId": null,
  "versionCounter": 16,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-27T09:45:26.616Z",
      "createdAt": "2026-04-27T09:45:26.616Z",
      "role": "workflow:owner",
      "workflowId": "Jp4HFw5LYwnktOR2jvr0U",
      "projectId": "IUZUphTJqrq5q49O",
      "project": {
        "updatedAt": "2025-09-09T15:35:22.453Z",
        "createdAt": "2025-09-09T15:33:11.832Z",
        "id": "IUZUphTJqrq5q49O",
        "name": "Nizar Ajroud <nizar.ajroud@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "965c6769-4478-4dd7-b3d9-477397cdc9e1"
      }
    }
  ]
}